Thumbs.db
*.obj
*.exe
!.nuget/nuget.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lock.json
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
.vs/
[Rr]elease*/
_ReSharper*/
*.DotSettings
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.chm
*.chw
packages/
!Lib/**/*.dll
*.scgdat
chiron-log*.txt
*.dbmdl
*.jfm
